<%- include("partials/header") %>

<div class="loginPage">
<div class="container text-center my-5">

  <h1 class="my-5">Login</h1>
  
  <form class="" action="/login" method="POST">
  
    <div class="form-group w-50 m-auto">
      <input class="form-control my-2" type="text" name="username" id="username" placeholder="username">
      <input class="form-control" type="password" name="password" placeholder="password">
      <input type="text" name="url" class="inputurl"><br>
      <button class="btn btn-success my-3 text-center">Submit</button>

      <p><a href="/register">Create an account</a></p>
    </div>

    
  </form>

</div>
</div>

<%- include("partials/footer") %>
